# Matching ISIC classifications

From here :
https://unstats.un.org/unsd/classifications/Econ

In [1]:
import re
import itertools as iter
import numpy as np

# data
import pandas as pd

# import shapely
from scalenav.plotting import cmap

import ibis as ib
from ibis import _
ib.options.interactive = True

from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

# plots
from wordcloud import WordCloud

# from datashader import transfer_functions as tf, reductions as rd

/Users/cenv1069/micromamba/envs/global-data/lib/python3.12/site-packages/sentence_transformers/cross_encoder/CrossEncoder.py:13: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm, trange

In [2]:
from parameters import *

/Users/cenv1069/Documents/data/notebooks

## Support function

In [3]:
# def fuzzy_match_category(poi_category, isic_df, threshold=60):
#     match = process.extractOne(
#         poi_category, 
#         isic_df['Description'], 
#         scorer=fuzz.ratio
#     )
#     # print(match)
#     if match and match[1] >= threshold:
#         return isic_df.iloc[match[2]][["Code"]], # ,"Description"
#     return None#, None

## Data

In [4]:
isic_simple = pd.read_csv("https://unstats.un.org/unsd/classifications/Econ/Download/In%20Text/ISIC_Rev_4_english_structure.Txt")

In [5]:
print(isic_simple.shape)
isic_simple.head()

(766, 2)

   Code                                        Description
0     A                  Agriculture, forestry and fishing
1    01  Crop and animal production, hunting and relate...
2   011                     Growing of non-perennial crops
3  0111  Growing of cereals (except rice), leguminous c...
4  0112                                    Growing of rice

In [6]:
letter = []
# number
main_letter = "A"
for val in isic_simple["Code"]:
    if re.search(r"[A-Z]",val):
        main_letter = val
        letter.append(main_letter)
    else :
        letter.append(main_letter)

In [7]:
letter[0:5]

['A', 'A', 'A', 'A', 'A']

In [8]:
isic_simple["section"]=letter

In [9]:
filt = [True if re.search(r"^\d{2}$",string=x) else False for x in isic_simple.Code]
isic_double = isic_simple.loc[filt].copy()

In [10]:
print(isic_double.shape)
isic_double.head()

(88, 3)

   Code                                        Description section
1    01  Crop and animal production, hunting and relate...       A
39   02                               Forestry and logging       A
48   03                            Fishing and aquaculture       A
56   05                         Mining of coal and lignite       B
61   06      Extraction of crude petroleum and natural gas       B

### Adding detail for better learning 
By concatenating the description for all the subclasses into a single one.

In [11]:
detailed_descr=[]
for ind,ind_p in zip(isic_double.index[:-1],isic_double.index[1:]):
    detailed_descr.append(", ".join(isic_simple.iloc[ind:ind_p]["Description"]))
detailed_descr.append(", ".join(isic_simple.iloc[isic_double.index[-1]:]["Description"]))

In [12]:
print(len(detailed_descr))
detailed_descr

88

['Crop and animal production, hunting and related service activities, Growing of non-perennial crops, Growing of cereals (except rice), leguminous crops and oil seeds, Growing of rice, Growing of vegetables and melons, roots and tubers, Growing of sugar cane, Growing of tobacco, Growing of fibre crops, Growing of other non-perennial crops, Growing of perennial crops, Growing of grapes, Growing of tropical and subtropical fruits, Growing of citrus fruits, Growing of pome fruits and stone fruits, Growing of other tree and bush fruits and nuts, Growing of oleaginous fruits, Growing of beverage crops, Growing of spices, aromatic, drug and pharmaceutical crops, Growing of other perennial crops, Plant propagation, Plant propagation, Animal production, Raising of cattle and buffaloes, Raising of horses and other equines, Raising of camels and camelids, Raising of sheep and goats, Raising of swine/pigs, Raising of poultry, Raising of other animals, Mixed farming, Mixed farming, Support activities to agriculture and post-harvest crop activities, Support activities for crop production, Support activities for animal production, Post-harvest crop activities, Seed processing for propagation, Hunting, trapping and related service activities, Hunting, trapping and related service activities',
 'Forestry and logging, Silviculture and other forestry activities, Silviculture and other forestry activities, Logging, Logging, Gathering of non-wood forest products, Gathering of non-wood forest products, Support services to forestry, Support services to forestry',
 'Fishing and aquaculture, Fishing, Marine fishing, Freshwater fishing, Aquaculture, Marine aquaculture, Freshwater aquaculture, Mining and quarrying',
 'Mining of coal and lignite, Mining of hard coal, Mining of hard coal, Mining of lignite, Mining of lignite',
 'Extraction of crude petroleum and natural gas, Extraction of crude petroleum, Extraction of crude petroleum, Extraction of natural gas, Extraction of natural gas',
 'Mining of metal ores, Mining of iron ores, Mining of iron ores, Mining of non-ferrous metal ores, Mining of uranium and thorium ores, Mining of other non-ferrous metal ores',
 'Other mining and quarrying, Quarrying of stone, sand and clay, Quarrying of stone, sand and clay, Mining and quarrying n.e.c., Mining of chemical and fertilizer minerals, Extraction of peat, Extraction of salt, Other mining and quarrying n.e.c.',
 'Mining support service activities, Support activities for petroleum and natural gas extraction, Support activities for petroleum and natural gas extraction, Support activities for other mining and quarrying, Support activities for other mining and quarrying, Manufacturing',
 'Manufacture of food products, Processing and preserving of meat, Processing and preserving of meat, Processing and preserving of fish, crustaceans and molluscs, Processing and preserving of fish, crustaceans and molluscs, Processing and preserving of fruit and vegetables, Processing and preserving of fruit and vegetables, Manufacture of vegetable and animal oils and fats, Manufacture of vegetable and animal oils and fats, Manufacture of dairy products, Manufacture of dairy products, Manufacture of grain mill products, starches and starch products, Manufacture of grain mill products, Manufacture of starches and starch products, Manufacture of other food products, Manufacture of bakery products, Manufacture of sugar, Manufacture of cocoa, chocolate and sugar confectionery, Manufacture of macaroni, noodles, couscous and similar farinaceous products, Manufacture of prepared meals and dishes, Manufacture of other food products n.e.c., Manufacture of prepared animal feeds, Manufacture of prepared animal feeds',
 'Manufacture of beverages, Manufacture of beverages, Distilling, rectifying and blending of spirits, Manufacture of wines, Manufacture of malt liquors and malt, Manufacture of soft drinks; production of mineral waters and other bottled waters',
 'Manufacture of tobacco products, Manufacture of tobacco products, Manufacture of tobacco products',
 'Manufacture of textiles, Spinning, weaving and finishing of textiles, Preparation and spinning of textile fibres, Weaving of textiles, Finishing of textiles, Manufacture of other textiles, Manufacture of knitted and crocheted fabrics, Manufacture of made-up textile articles, except apparel, Manufacture of carpets and rugs, Manufacture of cordage, rope, twine and netting, Manufacture of other textiles n.e.c.',
 'Manufacture of wearing apparel, Manufacture of wearing apparel, except fur apparel, Manufacture of wearing apparel, except fur apparel, Manufacture of articles of fur, Manufacture of articles of fur, Manufacture of knitted and crocheted apparel, Manufacture of knitted and crocheted apparel',
 'Manufacture of leather and related products, Tanning and dressing of leather; manufacture of luggage, handbags, saddlery and harness; dressing and dyeing of fur, Tanning and dressing of leather; dressing and dyeing of fur, Manufacture of luggage, handbags and the like, saddlery and harness, Manufacture of footwear, Manufacture of footwear',
 "Manufacture of wood and of products of wood and cork, except furniture; manufacture of articles of straw and plaiting materials, Sawmilling and planing of wood, Sawmilling and planing of wood, Manufacture of products of wood, cork, straw and plaiting materials, Manufacture of veneer sheets and wood-based panels, Manufacture of builders' carpentry and joinery, Manufacture of wooden containers, Manufacture of other products of wood; manufacture of articles of cork, straw and plaiting materials",
 'Manufacture of paper and paper products, Manufacture of paper and paper products, Manufacture of pulp, paper and paperboard, Manufacture of corrugated paper and paperboard and of containers of paper and paperboard, Manufacture of other articles of paper and paperboard',
 'Printing and reproduction of recorded media, Printing and service activities related to printing, Printing, Service activities related to printing, Reproduction of recorded media, Reproduction of recorded media',
 'Manufacture of coke and refined petroleum products, Manufacture of coke oven products, Manufacture of coke oven products, Manufacture of refined petroleum products, Manufacture of refined petroleum products',
 'Manufacture of chemicals and chemical products, Manufacture of basic chemicals, fertilizers and nitrogen compounds, plastics and synthetic rubber in primary forms, Manufacture of basic chemicals, Manufacture of fertilizers and nitrogen compounds, Manufacture of plastics and synthetic rubber in primary forms, Manufacture of other chemical products, Manufacture of pesticides and other agrochemical products, Manufacture of paints, varnishes and similar coatings, printing ink and mastics, Manufacture of soap and detergents, cleaning and polishing preparations, perfumes and toilet preparations, Manufacture of other chemical products n.e.c., Manufacture of man-made fibres, Manufacture of man-made fibres',
 'Manufacture of basic pharmaceutical products and pharmaceutical preparations, Manufacture of pharmaceuticals, medicinal chemical and botanical products, Manufacture of pharmaceuticals, medicinal chemical and botanical products',
 'Manufacture of rubber and plastics products, Manufacture of rubber products, Manufacture of rubber tyres and tubes; retreading and rebuilding of rubber tyres, Manufacture of other rubber products, Manufacture of plastics products, Manufacture of plastics products',
 'Manufacture of other non-metallic mineral products, Manufacture of glass and glass products, Manufacture of glass and glass products, Manufacture of non-metallic mineral products n.e.c., Manufacture of refractory products, Manufacture of clay building materials, Manufacture of other porcelain and ceramic products, Manufacture of cement, lime and plaster, Manufacture of articles of concrete, cement and plaster, Cutting, shaping and finishing of stone, Manufacture of other non-metallic mineral products n.e.c.',
 'Manufacture of basic metals, Manufacture of basic iron and steel, Manufacture of basic iron and steel, Manufacture of basic precious and other non-ferrous metals, Manufacture of basic precious and other non-ferrous metals, Casting of metals, Casting of iron and steel, Casting of non-ferrous metals',
 'Manufacture of fabricated metal products, except machinery and equipment, Manufacture of structural metal products, tanks, reservoirs and steam generators, Manufacture of structural metal products, Manufacture of tanks, reservoirs and containers of metal, Manufacture of steam generators, except central heating hot water boilers, Manufacture of weapons and ammunition, Manufacture of weapons and ammunition, Manufacture of other fabricated metal products; metalworking service activities, Forging, pressing, stamping and roll-forming of metal; powder metallurgy, Treatment and coating of metals; machining, Manufacture of cutlery, hand tools and general hardware, Manufacture of other fabricated metal products n.e.c.',
 'Manufacture of computer, electronic and optical products, Manufacture of electronic components and boards, Manufacture of electronic components and boards, Manufacture of computers and peripheral equipment, Manufacture of computers and peripheral equipment, Manufacture of communication equipment, Manufacture of communication equipment, Manufacture of consumer electronics, Manufacture of consumer electronics, Manufacture of measuring, testing, navigating and control equipment; watches and clocks, Manufacture of measuring, testing, navigating and control equipment, Manufacture of watches and clocks, Manufacture of irradiation, electromedical and electrotherapeutic equipment, Manufacture of irradiation, electromedical and electrotherapeutic equipment, Manufacture of optical instruments and photographic equipment, Manufacture of optical instruments and photographic equipment, Manufacture of magnetic and optical media, Manufacture of magnetic and optical media',
 'Manufacture of electrical equipment, Manufacture of electric motors, generators, transformers and electricity distribution and control apparatus, Manufacture of electric motors, generators, transformers and electricity distribution and control apparatus, Manufacture of batteries and accumulators, Manufacture of batteries and accumulators, Manufacture of wiring and wiring devices, Manufacture of fibre optic cables, Manufacture of other electronic and electric wires and cables, Manufacture of wiring devices, Manufacture of electric lighting equipment, Manufacture of electric lighting equipment, Manufacture of domestic appliances, Manufacture of domestic appliances, Manufacture of other electrical equipment, Manufacture of other electrical equipment',
 'Manufacture of machinery and equipment n.e.c., Manufacture of general-purpose machinery, Manufacture of engines and turbines, except aircraft, vehicle and cycle engines, Manufacture of fluid power equipment, Manufacture of other pumps, compressors, taps and valves, Manufacture of bearings, gears, gearing and driving elements, Manufacture of ovens, furnaces and furnace burners, Manufacture of lifting and handling equipment, Manufacture of office machinery and equipment (except computers and peripheral equipment), Manufacture of power-driven hand tools, Manufacture of other general-purpose machinery, Manufacture of special-purpose machinery, Manufacture of agricultural and forestry machinery, Manufacture of metal-forming machinery and machine tools, Manufacture of machinery for metallurgy, Manufacture of machinery for mining, quarrying and construction, Manufacture of machinery for food, beverage and tobacco processing, Manufacture of machinery for textile, apparel and leather production, Manufacture of other special-purpose machinery',
 'Manufacture of motor vehicles, trailers and semi-trailers, Manufacture of motor vehicles, Manufacture of motor vehicles, Manufacture of bodies (coachwork) for motor vehicles; manufacture of trailers and semi-trailers, Manufacture of bodies (coachwork) for motor vehicles; manufacture of trailers and semi-trailers, Manufacture of parts and accessories for motor vehicles, Manufacture of parts and accessories for motor vehicles',
 'Manufacture of other transport equipment, Building of ships and boats, Building of ships and floating structures, Building of pleasure and sporting boats, Manufacture of railway locomotives and rolling stock, Manufacture of railway locomotives and rolling stock, Manufacture of air and spacecraft and related machinery, Manufacture of air and spacecraft and related machinery, Manufacture of military fighting vehicles, Manufacture of military fighting vehicles, Manufacture of transport equipment n.e.c., Manufacture of motorcycles, Manufacture of bicycles and invalid carriages, Manufacture of other transport equipment n.e.c.',
 'Manufacture of furniture, Manufacture of furniture, Manufacture of furniture',
 'Other manufacturing, Manufacture of jewellery, bijouterie and related articles, Manufacture of jewellery and related articles, Manufacture of imitation jewellery and related articles, Manufacture of musical instruments, Manufacture of musical instruments, Manufacture of sports goods, Manufacture of sports goods, Manufacture of games and toys, Manufacture of games and toys, Manufacture of medical and dental instruments and supplies, Manufacture of medical and dental instruments and supplies, Other manufacturing n.e.c., Other manufacturing n.e.c.',
 'Repair and installation of machinery and equipment, Repair of fabricated metal products, machinery and equipment, Repair of fabricated metal products, Repair of machinery, Repair of electronic and optical equipment, Repair of electrical equipment, Repair of transport equipment, except motor vehicles, Repair of other equipment, Installation of industrial machinery and equipment, Installation of industrial machinery and equipment, Electricity, gas, steam and air conditioning supply',
 'Electricity, gas, steam and air conditioning supply, Electric power generation, transmission and distribution, Electric power generation, transmission and distribution, Manufacture of gas; distribution of gaseous fuels through mains, Manufacture of gas; distribution of gaseous fuels through mains, Steam and air conditioning supply, Steam and air conditioning supply, Water supply; sewerage, waste management and remediation activities',
 'Water collection, treatment and supply, Water collection, treatment and supply, Water collection, treatment and supply',
 'Sewerage, Sewerage, Sewerage',
 'Waste collection, treatment and disposal activities; materials recovery, Waste collection, Collection of non-hazardous waste, Collection of hazardous waste, Waste treatment and disposal, Treatment and disposal of non-hazardous waste, Treatment and disposal of hazardous waste, Materials recovery, Materials recovery',
 'Remediation activities and other waste management services, Remediation activities and other waste management services, Remediation activities and other waste management services, Construction',
 'Construction of buildings, Construction of buildings, Construction of buildings',
 'Civil engineering, Construction of roads and railways, Construction of roads and railways, Construction of utility projects, Construction of utility projects, Construction of other civil engineering projects, Construction of other civil engineering projects',
 'Specialized construction activities, Demolition and site preparation, Demolition, Site preparation, Electrical, plumbing and other construction installation activities, Electrical installation, Plumbing, heat and air-conditioning installation, Other construction installation, Building completion and finishing, Building completion and finishing, Other specialized construction activities, Other specialized construction activities, Wholesale and retail trade; repair of motor vehicles and motorcycles',
 'Wholesale and retail trade and repair of motor vehicles and motorcycles, Sale of motor vehicles, Sale of motor vehicles, Maintenance and repair of motor vehicles, Maintenance and repair of motor vehicles, Sale of motor vehicle parts and accessories, Sale of motor vehicle parts and accessories, Sale, maintenance and repair of motorcycles and related parts and accessories, Sale, maintenance and repair of motorcycles and related parts and accessories',
 'Wholesale trade, except of motor vehicles and motorcycles, Wholesale on a fee or contract basis, Wholesale on a fee or contract basis, Wholesale of agricultural raw materials and live animals, Wholesale of agricultural raw materials and live animals, Wholesale of food, beverages and tobacco, Wholesale of food, beverages and tobacco, Wholesale of household goods, Wholesale of textiles, clothing and footwear, Wholesale of other household goods, Wholesale of machinery, equipment and supplies, Wholesale of computers, computer peripheral equipment and software, Wholesale of electronic and telecommunications equipment and parts, Wholesale of agricultural machinery, equipment and supplies, Wholesale of other machinery and equipment, Other specialized wholesale, Wholesale of solid, liquid and gaseous fuels and related products, Wholesale of metals and metal ores, Wholesale of construction materials, hardware, plumbing and heating equipment and supplies, Wholesale of waste and scrap and other products n.e.c., Non-specialized wholesale trade, Non-specialized wholesale trade',
 'Retail trade, except of motor vehicles and motorcycles, Retail sale in non-specialized stores, Retail sale in non-specialized stores with food, beverages or tobacco predominating, Other retail sale in non-specialized stores, Retail sale of food, beverages and tobacco in specialized stores, Retail sale of food in specialized stores, Retail sale of beverages in specialized stores, Retail sale of tobacco products in specialized stores, Retail sale of automotive fuel in specialized stores, Retail sale of automotive fuel in specialized stores, Retail sale of information and communications equipment in specialized stores, Retail sale of computers, peripheral units, software and telecommunications equipment in specialized stores, Retail sale of audio and video equipment in specialized stores, Retail sale of other household equipment in specialized stores, Retail sale of textiles in specialized stores, Retail sale of hardware, paints and glass in specialized stores, Retail sale of carpets, rugs, wall and floor coverings in specialized stores, Retail sale of electrical household appliances, furniture, lighting equipment and other household articles in specialized stores, Retail sale of cultural and recreation goods in specialized stores, Retail sale of books, newspapers and stationary in specialized stores, Retail sale of music and video recordings in specialized stores, Retail sale of sporting equipment in specialized stores, Retail sale of games and toys in specialized stores, Retail sale of other goods in specialized stores, Retail sale of clothing, footwear and leather articles in specialized stores, Retail sale of pharmaceutical and medical goods, cosmetic and toilet articles in specialized stores, Other retail sale of new goods in specialized stores, Retail sale of second-hand goods, Retail sale via stalls and markets, Retail sale via stalls and markets of food, beverages and tobacco products, Retail sale via stalls and markets of textiles, clothing and footwear, Retail sale via stalls and markets of other goods, Retail trade not in stores, stalls or markets, Retail sale via mail order houses or via Internet, Other retail sale not in stores, stalls or markets, Transportation and storage',

In [13]:
isic_double["detailed_descr"] = detailed_descr

### Matching DOSE, high level aggregation

In [14]:
dose_types = {"services" : "G-U"
              ,"manufacturing" : "B-F"
              ,"agriculture" : "A"}

In [15]:
dose_to_isic = [key for x in isic_double.section for (key,val) in dose_types.items() if re.search(pattern=f"[{val}]",string=x)]

In [16]:
isic_double["dose"] = dose_to_isic

In [17]:
isic_double.iloc[9].loc["detailed_descr"]

'Manufacture of beverages, Manufacture of beverages, Distilling, rectifying and blending of spirits, Manufacture of wines, Manufacture of malt liquors and malt, Manufacture of soft drinks; production of mineral waters and other bottled waters'

## Combining with place type from Overture

In [18]:
place_types = pd.read_csv("data/overture_place_types.csv")
landuse_type = pd.read_csv("data/overture_landuse_type.csv")

In [19]:
place_types.head()

        main_cat        sec_cat               raw_cat
0  eat_and_drink  eat_and_drink         eat_and_drink
1  eat_and_drink     restaurant            restaurant
2  eat_and_drink     restaurant     afghan_restaurant
3  eat_and_drink     restaurant    african_restaurant
4  eat_and_drink     restaurant  ethiopian_restaurant

In [20]:
place_types.drop_duplicates("sec_cat",inplace=True)

In [21]:
landuses_raw = landuse_type.iloc[:,0].values.tolist()

### Landuse

In [22]:
landuse_type = pd.DataFrame([x.split(" ") for x in landuses_raw],columns=["sec_cat","main_cat"])

In [23]:
landuse_type.head()

          sec_cat      main_cat
0      greenfield  construction
1         college     education
2   village_green          park
3  nature_reserve     protected
4       education     education

### Overture categories together

In [24]:
overture_cats = pd.concat([place_types,landuse_type],axis=0,ignore_index=True)

In [25]:
print(overture_cats.shape)
overture_cats.head()#[overture_cats.main_cat=='transport']

(812, 3)

        main_cat        sec_cat        raw_cat
0  eat_and_drink  eat_and_drink  eat_and_drink
1  eat_and_drink     restaurant     restaurant
2  eat_and_drink            bar            bar
3  eat_and_drink           cafe           cafe
4  accommodation  accommodation  accommodation

In [26]:
overture_cats.sec_cat.nunique()

800

## Using LLMs : background

We use a lightweight sentence encoder model to match categories in incoming data sets to the reference ISIC classifications. This helps bring the desciptions and categorical variables in the incoming data sets to a standardised and commonly used definition of economic activity. 

More information : 
[SBERT light weight models](https://www.sbert.net/docs/sentence_transformer/pretrained_models.html)

## Model setup for classification

In [27]:
model = SentenceTransformer(selected_model)

# Precompute embeddings for ISIC categories
isic_double['embedding'] = isic_double["detailed_descr"].apply(lambda x: model.encode(x))

### Embedding and matching function

In [28]:
def embedding_match_category(poi_category, isic_df):
    poi_embedding = model.encode(poi_category)
    embeddings = list(isic_df['embedding'])
    similarities = cosine_similarity([poi_embedding], embeddings)[0]
    best_match_index = similarities.argmax()
    best_match_score = similarities[best_match_index]
    best_match_row = isic_df.iloc[best_match_index]
    
    return [best_match_row['section'],best_match_row['Code'], best_match_row['Description'], best_match_row['dose'], best_match_score]

## Matching categories

In [29]:
# fuzzy_thres = .2
# place_types["fuzzy_isic"] = place_types["raw_cat"].apply(lambda x: fuzzy_match_category(x.replace("_"," "),isic_simple)) # ,"isic_description"

In [30]:
overture_cats[["section","isic_embed", "isic_descr","dose", "match_score"]] = [
    *overture_cats["sec_cat"].apply(
        lambda x: embedding_match_category(x.replace("_", " "), isic_double)
    )
]

In [31]:
overture_cats.shape

(812, 8)

In [32]:
overture_cats.loc[overture_cats.match_score<0.3,["sec_cat","section","isic_embed","isic_descr","dose","match_score"]]

,sec_cat,section,isic_embed,isic_descr,dose,match_score
0,eat_and_drink,Q,86,Human health activities,services,0.264077
2,bar,R,92,Gambling and betting activities,services,0.250466
6,cabin,C,31,Manufacture of furniture,manufacturing,0.285907
12,hostel,I,55,Accommodation,services,0.287494
14,inn,I,55,Accommodation,services,0.250833
...,...,...,...,...,...,...
798,driving_range,G,45,Wholesale and retail trade and repair of motor...,services,0.289407
799,schoolyard,E,37,Sewerage,manufacturing,0.256795
802,brownfield,E,37,Sewerage,manufacturing,0.230865
804,meadow,N,81,Services to buildings and landscape activities,services,0.229788
808,beach_resort,N,79,"Travel agency, tour operator, reservation serv...",services,0.287185

In [33]:
overture_cats.loc[630,["sec_cat","section","isic_embed","isic_descr","dose","match_score"]].values

array(['hazardous_waste_disposal', 'E', '39',
       'Remediation activities and other waste management services',
       'manufacturing', 0.6262050867080688], dtype=object)

In [34]:
overture_cats.loc[overture_cats.sec_cat=="shopping"]

,main_cat,sec_cat,raw_cat,section,isic_embed,isic_descr,dose,match_score
258,retail,shopping,shopping,G,47,"Retail trade, except of motor vehicles and mot...",services,0.477107

In [35]:
overture_cats.tail()

,main_cat,sec_cat,raw_cat,section,isic_embed,isic_descr,dose,match_score
807,horticulture,greenhouse_horticulture,NaN,A,01,"Crop and animal production, hunting and relate...",agriculture,0.457248
808,recreation,beach_resort,NaN,N,79,"Travel agency, tour operator, reservation serv...",services,0.287185
809,developed,institutional,NaN,S,94,Activities of membership organizations,services,0.303659
810,protected,state_park,NaN,R,91,"Libraries, archives, museums and other cultura...",services,0.313521
811,military,danger_area,NaN,N,80,Security and investigation activities,services,0.336976

In [36]:
overture_cats[overture_cats.sec_cat=="farmland"]

,main_cat,sec_cat,raw_cat,section,isic_embed,isic_descr,dose,match_score
734,agriculture,farmland,NaN,A,01,"Crop and animal production, hunting and relate...",agriculture,0.506969

In [37]:
# match_thres = .4

In [38]:
overture_cats.loc[~overture_cats["sec_cat"].duplicated()].to_csv(place_types_filename,index=False)

In [39]:
place_types_filename

'data/place_types_isic_all-mpnet-base-v2.csv'